

{% extends 'base.html' %}
{% load static %}
{% block title %}ContactUs{% endblock %}
{% block content %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->




<style>
 
.contact-info{
        height: 200px;
       
  font-family: "Roboto", sans-serif;
  margin-left: 5px;

  background-color: #cccccc; 

 
}
.card-info{
   
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-info h1{
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
  
}
.card-phone{
   
   color: #fff;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-phone h2{
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    
}
.card-phone p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    margin-top: 20px;

}
.card-message .input-data{
    background-color: #fff;
   
    border-radius: 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
     
}


.card-message{
   
    background-image: linear-gradient(135deg,rgb(74,234,220) 0%,#d5dfdb 100%);

}

.textarea{
    margin-top: 30px;
}

#exampleFormControlTextarea1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.contactMe{
    margin-top: 30px;
}
.contact-details{
    box-shadow: 0 4px 8px 0 #000;
    height: 200px; 
}
.mb-4 h1{
    text-align: center;
    font-size: 20px;
}
.center{
    margin: 20px;
}
/*overflow-wrap: break-word;*/
</style>



<div class="container contactMe" >
    <div class="row">
        <div class="col-md-6">
          
           <div class="contact-info ">
              <div class="contact-details team-body-side animate__animated animate__backInLeft">
                <div class="card-info ">
                    <h1>Contact Information</h1>
                </div>
                <div class="card-phone">
                    <h2>phone:</h2>
                    <p>+2348079385255 </p>
                   
                </div>
                <div class="card-phone">
                 <h2>email:</h2>
                 <p>nuel4xelence@gmail.com</p>
              
               
             </div>
          
         
              </div>
           </div>
        </div>

        <div class="col-md-6 message-us">
            <div class="card-message">

              

                <form action="{% url 'project:contact' %}" method="post" class="team-body-side animate__animated animate__backInRight">
                    {% csrf_token %}
                    <div class="mb-4 mess" style="padding-top: 30px; color: rgb(254,45,45);">
                        <h1>Message us:</h1>
                                   
                      </div>
                    <div class="mb-3">
                  
                        <input class="form-control input-data" type="text" name="message-name" id="exampleFormControlInput1"  placeholder="Name" aria-label="default input example">
                    
                      </div>
                      <div class="mb-3">
 
                        <input class="form-control input-data" id="" type="number" name="message-phone" placeholder=" phone number">
                      </div>

                    <div class="mb-3">
                 
                      <input type="email" class="form-control input-data" name="message-email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Email address">
                                 
                    </div>
                    
                    <div class="mb-3 textarea">

                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" placeholder="please type your message here"></textarea>
                      </div>


                    <button type="submit" class="btn btn-danger center">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>







{% endblock %}